<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择单词范围</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstraps.min.css"></script>
</head>
<body>
    <div class="container">
        <h1><a href="/select?status=4">四级词汇</a></h1>
        <h1><a href="/select?status=6">六级词汇</a></h1>
        <h1><a href="/select?status=8">雅思词汇</a></h1>
        <h1><a href="/select?status=10">托福词汇</a></h1>
    </div>
</body>
</html>